name: Deploy

on:
  push:
    branches: ["main"]
    paths:
      - "visinha/**"
      - "collector/**"
      - "reporting/**"

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Deploy to server
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.DROPLET_HOST }}
          username: ${{ secrets.DROPLET_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: |
            /usr/local/bin/deploy-mysite.sh
